#page7 {
    color: #000;

    .header {
        .nav {
            li {
                color: #000;
            }
        }
    }

    .article {
        padding: 0 44px;
        .location {
            font-size: 17px;
            line-height: 27px;
            margin: 12px 0 100px 0;
        }
        .container {
            width: 60%;
            margin: 0 auto;
            display: flex;
            .container-left {
                width: 30%;
                h4 {
                    font-size: 40px;
                    margin-bottom: 20px;
                }
                h5 {
                    font-size: 30px;
                    margin-bottom: 45px;
                }
                p {
                    font-size: 13px;
                    line-height: 25px;
                }
                
            }
            .container-right {
                flex: 1;
                box-sizing: border-box;
                padding-left: 62px;
                font-size: 0;
                img {
                    width: 100%;
                    margin-bottom: 28px;
                }
            }
        }
    }
    
    .footer {
        text-align: center;
        margin-top: 247px;
        margin-bottom: 146px;
        .f {
            display: inline-block;
            font-size: 17px;
            color: #000;
            li {
                float: left;
                margin-right: 115px;
            }
        }
    }
        
    a,a:hover,a:link,a:active,a:visited,a:focus {
        text-decoration: none;
        color: #000;
    }
}