#page1
    position fixed
    top 0
    right 0
    left 0
    bottom 0
    background-position center
    background-size cover
    background-repeat no-repeat
    background-image url("../image/bg@2x.png")