/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: myFont;
  src: './font/LG.ttf'; }

@font-face {
  font-family: theFont;
  src: './font/AGME.otf'; }

* {
  font-family: theFont; }

html {
  font-size: 10px; }
  @media only screen and (max-width: 1280px) {
    html {
      font-size: 8px; } }
  @media only screen and (max-width: 1100px) {
    html {
      font-size: 4px; } }

a, a:hover, a:link, a:active, a:visited, a:focus {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

.header {
  overflow: hidden;
  position: relative; }
  .header .nav {
    padding: 32px 0 0 44px;
    color: #fff; }
    @media only screen and (max-width: 1200px) {
      .header .nav {
        padding: 16px 0 0 22px; } }
    .header .nav ul {
      font-size: 0; }
      .header .nav ul li {
        float: left;
        margin-right: 32px;
        font-size: 17px; }
        @media only screen and (max-width: 1200px) {
          .header .nav ul li {
            font-size: 12px; } }
        .header .nav ul li.lookbook .lo {
          margin-top: 4px;
          font-size: 12px;
          line-height: 18px; }
          .header .nav ul li.lookbook .lo:last-child {
            margin-top: 0; }
        .header .nav ul li.projects {
          width: 90px; }
          .header .nav ul li.projects .lo {
            margin-top: 4px;
            line-height: 18px;
            font-size: 12px !important;
            white-space: nowrap; }
            .header .nav ul li.projects .lo:first-of-type {
              margin-top: 8px;
              font-size: 14px; }
    @media only screen and (max-width: 768px) {
      .header .nav {
        padding: 0;
        position: relative;
        z-index: 2; }
        .header .nav ul {
          transition: transform .3s ease-in-out;
          transform: translate3d(0, -100%, 0);
          overflow: hidden; }
          .header .nav ul.down {
            transform: translate3d(0, 0, 0); }
          .header .nav ul li {
            margin-right: 0;
            font-size: 17px;
            width: 100%;
            height: 30px;
            line-height: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            text-align: center; }
            .header .nav ul li .lo {
              display: none; }
            .header .nav ul li.projects {
              width: 100%; } }
  .header .ballon {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #f2f4f7;
    position: absolute;
    right: 15px;
    top: 15px;
    box-sizing: border-box;
    padding: 10px 8px;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    opacity: 0; }
    @media only screen and (max-width: 768px) {
      .header .ballon {
        opacity: .8; } }
    .header .ballon span {
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all .3s linear;
      transform-origin: 0 1px; }
    .header .ballon.active .one {
      transform: translateY(-2px) rotate(45deg);
      width: 33px; }
    .header .ballon.active .two {
      opacity: 0; }
    .header .ballon.active .three {
      transform: translateY(2px) rotate(-45deg);
      width: 33px; }

.footer {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px; }
  .footer .f {
    display: inline-block;
    font-size: 17px;
    color: #000; }
    .footer .f li {
      float: left;
      margin-right: 115px; }
  @media only screen and (max-width: 1200px) {
    .footer {
      margin-top: 35px;
      margin-bottom: 17px; }
      .footer .f {
        font-size: 12px; }
        .footer .f li {
          margin-right: 60px; } }
  @media only screen and (max-width: 630px) {
    .footer {
      display: none; } }

.header .logo {
  position: absolute;
  top: 32px;
  right: 59px;
  width: 233px;
  height: 80px;
  transition: all .3s linear; }
  @media only screen and (max-width: 1200px) {
    .header .logo {
      top: 16px;
      right: 30px;
      width: 117px;
      height: 40px; } }
  @media only screen and (max-width: 860px) {
    .header .logo {
      transform: translateY(20px); } }
  @media only screen and (max-width: 768px) {
    .header .logo {
      display: none; } }

.hide {
  display: none; }

#page1 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  #page1.bg1 {
    background-image: url(images/bg1.5fa2baba2045ecda1a1c65391081c9c5.jpg); }
  #page1.bg2 {
    background-image: url(images/bg2.f0a4abd4918732d6154fbe398b30d90d.jpg); }
  #page1.bg3 {
    background-image: url(images/bg3.e9b70b72d958fd1e1ac3f1ddda139087.jpg); }
  #page1.bg4 {
    background-image: url(images/bg4.9baf32e171f2fc65164dcb8abf6e29d8.jpg); }
  #page1 .footer {
    margin: 0;
    position: fixed;
    bottom: 34px;
    left: 0;
    right: 0;
    text-align: center; }
    #page1 .footer .f {
      display: inline-block;
      font-size: 17px;
      color: #fff; }
      #page1 .footer .f li {
        float: left;
        margin-right: 115px; }
    @media only screen and (max-width: 1200px) {
      #page1 .footer {
        bottom: 17px; }
        #page1 .footer .f {
          font-size: 12px; }
          #page1 .footer .f li {
            margin-right: 60px; } }
    @media only screen and (max-width: 630px) {
      #page1 .footer {
        display: none; } }

#page2 {
  color: #000; }
  #page2 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page2 .header .nav li {
        color: #fff; }
        #page2 .header .nav li a {
          color: #fff; } }
  #page2 .article {
    margin-top: 12px;
    font-size: 17px; }
    @media only screen and (max-width: 768px) {
      #page2 .article {
        margin-top: -180px; } }
    #page2 .article .location {
      margin-left: 44px; }
    #page2 .article .section-1 {
      margin-top: 50px;
      text-align: center;
      font-size: 0;
      display: flex;
      padding: 0 44px;
      justify-content: space-between; }
      #page2 .article .section-1 .img-group-left {
        display: inline-block;
        width: 47%;
        overflow: hidden; }
        #page2 .article .section-1 .img-group-left .view-window {
          transition: transform .5s linear;
          white-space: nowrap; }
        #page2 .article .section-1 .img-group-left img {
          width: 100%; }
      #page2 .article .section-1 .img-group-right {
        display: inline-block;
        margin-right: 0;
        width: 47%; }
        #page2 .article .section-1 .img-group-right .v {
          transition: transform .5s linear;
          padding-top: 150%;
          position: relative;
          overflow: hidden; }
          #page2 .article .section-1 .img-group-right .v .view-window {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            white-space: wrap; }
            #page2 .article .section-1 .img-group-right .v .view-window img {
              width: 100%; }
    #page2 .article .section-2 {
      margin-top: 70px;
      padding: 0 44px;
      font-size: 0; }
      #page2 .article .section-2 img {
        width: 100%; }
  #page2 a, #page2 a:hover, #page2 a:link, #page2 a:active, #page2 a:visited, #page2 a:focus {
    text-decoration: none;
    color: #000; }

#page3 {
  color: #000; }
  #page3 .header .nav li {
    color: #000; }
  #page3 .article {
    margin-top: 12px;
    font-size: 17px;
    padding: 12px 44px 0 44px; }
    #page3 .article .location {
      margin-bottom: 100px;
      font-size: 17px;
      color: #000; }
    #page3 .article .section-1 {
      margin-bottom: 100px;
      overflow: hidden; }
      #page3 .article .section-1 .section-1-left {
        float: left;
        width: 36%;
        text-align: center; }
        #page3 .article .section-1 .section-1-left .img-group-1 h2 {
          font-size: 30px;
          color: #000;
          letter-spacing: -1px; }
        #page3 .article .section-1 .section-1-left .img-group-1 .img1 {
          width: 100%; }
        #page3 .article .section-1 .section-1-left .img-group-1 p {
          font-size: 27px;
          line-height: 27px;
          color: #000;
          text-align: left; }
        #page3 .article .section-1 .section-1-left .img-group-2 {
          width: 50%;
          display: inline-block;
          margin-top: 200px; }
          #page3 .article .section-1 .section-1-left .img-group-2 .img4 {
            width: 100%; }
      #page3 .article .section-1 .section-1-right {
        float: right;
        width: 64%;
        padding-left: 100px;
        box-sizing: border-box; }
        #page3 .article .section-1 .section-1-right .section-1-right-top {
          margin-bottom: 100px; }
          #page3 .article .section-1 .section-1-right .section-1-right-top .img2 {
            margin-top: 150px;
            width: 50%;
            vertical-align: top; }
          #page3 .article .section-1 .section-1-right .section-1-right-top .img-group {
            width: 30%;
            display: inline-block;
            float: right; }
            #page3 .article .section-1 .section-1-right .section-1-right-top .img-group .img3 {
              width: 100%; }
            #page3 .article .section-1 .section-1-right .section-1-right-top .img-group p {
              font-size: 20px; }
        #page3 .article .section-1 .section-1-right .section-1-right-bottom {
          padding-left: 50px; }
          #page3 .article .section-1 .section-1-right .section-1-right-bottom .img-group p {
            font-size: 27px;
            color: #000; }
          #page3 .article .section-1 .section-1-right .section-1-right-bottom .img-group .img5 {
            width: 100%; }
    #page3 .article .section-2 {
      margin-bottom: 245px;
      overflow: hidden; }
      #page3 .article .section-2 .section-2-left {
        width: 60%;
        float: left;
        margin-top: 100px; }
        #page3 .article .section-2 .section-2-left .img6 {
          width: 70%;
          margin-left: 150px;
          margin-bottom: 150px; }
        #page3 .article .section-2 .section-2-left .img-group {
          width: 100%; }
          #page3 .article .section-2 .section-2-left .img-group h2 {
            font-size: 40px; }
          #page3 .article .section-2 .section-2-left .img-group .img8 {
            width: 100%; }
      #page3 .article .section-2 .section-2-right {
        width: 40%;
        box-sizing: border-box;
        float: right;
        padding-left: 100px; }
        #page3 .article .section-2 .section-2-right .img-group {
          font-size: 0; }
          #page3 .article .section-2 .section-2-right .img-group img {
            width: 90%; }
  #page3 a, #page3 a:hover, #page3 a:link, #page3 a:active, #page3 a:visited, #page3 a:focus {
    text-decoration: none;
    color: #000; }

#page4 {
  color: #000; }
  #page4 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page4 .header .nav li {
        color: #fff; }
        #page4 .header .nav li a {
          color: #fff; } }
  #page4 .article {
    padding: 0 44px;
    font-size: 0; }
    @media only screen and (max-width: 768px) {
      #page4 .article {
        margin-top: -180px; } }
    #page4 .article .location {
      margin: 12px 0 102px 0;
      font-size: 17px; }
    #page4 .article .img-group {
      display: inline-block;
      width: 25%;
      padding-right: 24px;
      box-sizing: border-box; }
      #page4 .article .img-group img {
        width: 100%; }
      #page4 .article .img-group .t-shirt {
        margin-top: 13px;
        font-size: 14px;
        line-height: 27px; }
      #page4 .article .img-group .pant {
        font-size: 14px;
        margin-bottom: 26px; }
  #page4 a, #page4 a:hover, #page4 a:link, #page4 a:active, #page4 a:visited, #page4 a:focus {
    text-decoration: none;
    color: #000; }

#page5 {
  color: #000; }
  #page5 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page5 .header .nav li {
        color: #fff; }
        #page5 .header .nav li a {
          color: #fff; } }
  #page5 .article {
    padding: 0 44px;
    font-size: 0; }
    @media only screen and (max-width: 768px) {
      #page5 .article {
        margin-top: -180px; } }
    #page5 .article .location {
      margin: 12px 0 102px 0;
      font-size: 17px; }
    #page5 .article .container {
      display: flex; }
      #page5 .article .container .img {
        width: 40%; }
        #page5 .article .container .img img {
          width: 100%; }
      #page5 .article .container .text-introduction {
        display: flex;
        flex: 1;
        padding-left: 127px;
        flex-flow: column nowrap;
        justify-content: space-between;
        font-size: 16px; }
        #page5 .article .container .text-introduction .ch {
          margin-bottom: 15px; }
  #page5 a, #page5 a:hover, #page5 a:link, #page5 a:active, #page5 a:visited, #page5 a:focus {
    text-decoration: none;
    color: #000; }

#page6 {
  color: #000; }
  #page6 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page6 .header .nav li {
        color: #fff; }
        #page6 .header .nav li a {
          color: #fff; } }
  #page6 .article {
    padding: 0 44px;
    font-size: 0; }
    @media only screen and (max-width: 768px) {
      #page6 .article {
        margin-top: -180px; } }
    #page6 .article .location {
      margin: 12px 0 100px 0;
      font-size: 17px;
      line-height: 17px; }
    #page6 .article .intro {
      margin-bottom: 113px; }
      #page6 .article .intro img {
        width: 224px;
        height: 146px;
        vertical-align: top; }
      #page6 .article .intro .intro {
        padding-left: 60px;
        display: inline-block;
        width: 820px;
        vertical-align: top; }
        #page6 .article .intro .intro .ch {
          font-size: 20px;
          margin-bottom: 28px;
          line-height: 29px; }
        #page6 .article .intro .intro .en {
          font-size: 14px;
          line-height: 18px; }
    #page6 .article .img-group {
      font-size: 0; }
      #page6 .article .img-group .block {
        width: 33.3%;
        position: relative;
        display: inline-block; }
        #page6 .article .img-group .block.block1 {
          color: #c80012; }
        #page6 .article .img-group .block.block2 {
          color: #ffc400; }
        #page6 .article .img-group .block.block3 {
          color: #8200ff; }
        #page6 .article .img-group .block.block4 {
          color: #ff82b5; }
        #page6 .article .img-group .block.block5 {
          color: #0000ff; }
        #page6 .article .img-group .block.block6 {
          color: #ff3300; }
        #page6 .article .img-group .block h4 {
          position: absolute;
          left: 50%;
          top: 50%;
          font-size: 90px;
          z-index: 1;
          text-align: center;
          transform: translate3d(-50%, -50%, 0); }
        #page6 .article .img-group .block p {
          position: absolute;
          text-align: center;
          left: 0;
          right: 0;
          text-align: center;
          bottom: 20px;
          font-size: 35px; }
        #page6 .article .img-group .block img {
          width: 100%; }
  #page6 a, #page6 a:hover, #page6 a:link, #page6 a:active, #page6 a:visited, #page6 a:focus {
    text-decoration: none;
    color: #000; }

#page7 {
  color: #000; }
  #page7 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page7 .header .nav li {
        color: #fff; }
        #page7 .header .nav li a {
          color: #fff; } }
  #page7 .article {
    padding: 0 44px; }
    @media only screen and (max-width: 768px) {
      #page7 .article {
        margin-top: -180px; } }
    #page7 .article .location {
      font-size: 17px;
      line-height: 27px;
      margin: 12px 0 100px 0; }
    #page7 .article .container {
      width: 60%;
      margin: 0 auto;
      display: flex; }
      #page7 .article .container .container-left {
        width: 30%; }
        #page7 .article .container .container-left h4 {
          font-size: 40px;
          margin-bottom: 20px; }
        #page7 .article .container .container-left h5 {
          font-size: 30px;
          margin-bottom: 45px; }
        #page7 .article .container .container-left p {
          font-size: 13px;
          line-height: 25px; }
      #page7 .article .container .container-right {
        flex: 1;
        box-sizing: border-box;
        padding-left: 62px;
        font-size: 0; }
        #page7 .article .container .container-right img {
          width: 100%;
          margin-bottom: 28px; }
  #page7 a, #page7 a:hover, #page7 a:link, #page7 a:active, #page7 a:visited, #page7 a:focus {
    text-decoration: none;
    color: #000; }

#page8 {
  color: #000; }
  #page8 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page8 .header .nav li {
        color: #fff; }
        #page8 .header .nav li a {
          color: #fff; } }
  #page8 .article {
    padding: 0 44px; }
    @media only screen and (max-width: 768px) {
      #page8 .article {
        margin-top: -180px; } }
    #page8 .article .location {
      font-size: 17px;
      line-height: 27px;
      margin: 12px 0 100px 0; }
    #page8 .article .container .container-floor1 {
      margin-bottom: 60px; }
      #page8 .article .container .container-floor1 .floor1-left {
        display: inline-block;
        width: 520px; }
        #page8 .article .container .container-floor1 .floor1-left div {
          text-align: right; }
          #page8 .article .container .container-floor1 .floor1-left div img {
            width: 245px; }
        #page8 .article .container .container-floor1 .floor1-left img {
          width: 100%; }
      #page8 .article .container .container-floor1 .floor1-right {
        display: inline-block;
        padding-left: 68px;
        width: 824px; }
        #page8 .article .container .container-floor1 .floor1-right .ch {
          font-size: 20px;
          line-height: 29px;
          margin-bottom: 28px; }
        #page8 .article .container .container-floor1 .floor1-right .en {
          font-size: 14px;
          line-height: 18px; }
    #page8 .article .container .container-floor2 {
      font-size: 0; }
      #page8 .article .container .container-floor2 .img-group {
        width: 50%;
        display: inline-block;
        position: relative; }
        #page8 .article .container .container-floor2 .img-group h3 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          color: #66ffbf;
          z-index: 1;
          font-size: 90px;
          white-space: nowrap; }
        #page8 .article .container .container-floor2 .img-group img {
          width: 100%; }
  #page8 a, #page8 a:hover, #page8 a:link, #page8 a:active, #page8 a:visited, #page8 a:focus {
    text-decoration: none;
    color: #000; }

#page9 {
  color: #000; }
  #page9 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page9 .header .nav li {
        color: #fff; }
        #page9 .header .nav li a {
          color: #fff; } }
  #page9 .article {
    padding: 0 44px; }
    @media only screen and (max-width: 768px) {
      #page9 .article {
        margin-top: -180px; } }
    #page9 .article .location {
      font-size: 17px;
      line-height: 27px;
      margin: 12px 0 100px 0; }
    #page9 .article .container img {
      margin-left: 142px;
      width: 35%;
      vertical-align: top; }
    #page9 .article .container ul {
      display: inline-block;
      vertical-align: top;
      margin-left: 15%; }
      #page9 .article .container ul li {
        margin-bottom: 130px; }
        #page9 .article .container ul li:first-child {
          margin-top: 56px; }
        #page9 .article .container ul li:last-child {
          margin-bottom: 0; }
        #page9 .article .container ul li img {
          width: 36px;
          vertical-align: middle;
          margin-right: 22px; }
        #page9 .article .container ul li span {
          font-size: 17px;
          vertical-align: middle; }
  #page9 a, #page9 a:hover, #page9 a:link, #page9 a:active, #page9 a:visited, #page9 a:focus {
    text-decoration: none;
    color: #000; }
