/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: myFont;
  src: './font/LG.ttf'; }

@font-face {
  font-family: theFont;
  src: './font/AGME.otf'; }

html {
  font-size: 100px; }
  @media only screen and (max-width: 1280px) {
    html {
      font-size: 40px; } }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 30px; } }

body {
  font-family: PingFang SC,PingFangSC-Semibold,Helvetica Neue,Helvetica,Nimbus Sans L,Arial,Liberation Sans,Hiragino Sans GB,Source Han Sans CN,Source Han Sans SC,Microsoft YaHei,SimHei,sans-serif; }

.header {
  position: relative; }
  .header .nav {
    padding: 32px 0 0 44px;
    color: #fff; }
    .header .nav ul {
      font-size: 0; }
      .header .nav ul li {
        float: left;
        margin-right: 18px;
        font-size: 14px; }
        .header .nav ul li .lo-wrapper {
          display: none; }
        .header .nav ul li:hover .en {
          display: none; }
        .header .nav ul li:hover .ch {
          width: 120px;
          display: inline-block; }
        .header .nav ul li.lookbook:hover .lo-wrapper, .header .nav ul li.projects:hover .lo-wrapper {
          display: block;
          position: absolute;
          top: 15px;
          left: 0;
          z-index: 200; }
          .header .nav ul li.lookbook:hover .lo-wrapper .lo, .header .nav ul li.projects:hover .lo-wrapper .lo {
            padding-top: 10px;
            display: block;
            line-height: 1.3; }
            .header .nav ul li.lookbook:hover .lo-wrapper .lo:hover .inner-en, .header .nav ul li.projects:hover .lo-wrapper .lo:hover .inner-en {
              display: none; }
            .header .nav ul li.lookbook:hover .lo-wrapper .lo:hover .inner-ch, .header .nav ul li.projects:hover .lo-wrapper .lo:hover .inner-ch {
              display: inline-block; }
          .header .nav ul li.lookbook:hover .lo-wrapper .lo:hover, .header .nav ul li.lookbook:hover .lo-wrapper .los:hover, .header .nav ul li.projects:hover .lo-wrapper .lo:hover, .header .nav ul li.projects:hover .lo-wrapper .los:hover {
            font-weight: bold; }
          .header .nav ul li.lookbook:hover .lo-wrapper .inner-en, .header .nav ul li.projects:hover .lo-wrapper .inner-en {
            display: inline-block; }
          .header .nav ul li.lookbook:hover .lo-wrapper .inner-ch, .header .nav ul li.projects:hover .lo-wrapper .inner-ch {
            display: none; }
        @media only screen and (max-width: 1200px) {
          .header .nav ul li {
            font-size: 12px;
            width: 80px; } }
        @media only screen and (max-width: 768px) {
          .header .nav ul li.lookbook:hover .lo-wrapper {
            top: 20px;
            left: 40px; }
          .header .nav ul li.projects:hover .lo-wrapper {
            top: 20px;
            left: -50px;
            text-align: center; } }
    .header .nav .li-a {
      white-space: nowrap;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      vertical-align: middle;
      display: inline-block;
      width: 120px;
      position: relative; }
      .header .nav .li-a .en {
        display: inline-block;
        width: 120px; }
      .header .nav .li-a .ch {
        width: 100%;
        display: none; }
      .header .nav .li-a .lo-wrapper {
        text-align: left; }
    @media only screen and (max-width: 1200px) {
      .header .nav {
        padding: 32px 0 0 44px; } }
    @media only screen and (max-width: 768px) {
      .header .nav {
        padding: 0;
        z-index: 2;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0; }
        .header .nav ul {
          transition: transform .3s ease-in-out;
          transform: translate3d(0, -100%, 0);
          overflow: hidden; }
          .header .nav ul.down {
            transform: translate3d(0, 0, 0); }
          .header .nav ul li {
            margin-right: 0;
            font-size: 17px;
            width: 100%;
            height: 30px;
            line-height: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            text-align: center; }
            .header .nav ul li.sp {
              height: 90px; }
            .header .nav ul li .lo-wrapper {
              display: none; }
            .header .nav ul li:hover .lo-wrapper {
              display: none !important; }
            .header .nav ul li .lo {
              display: none; }
              .header .nav ul li .lo.sp {
                display: block;
                width: 100%;
                height: 30px;
                color: #fff; }
                .header .nav ul li .lo.sp .spHidden {
                  display: none; }
                .header .nav ul li .lo.sp a {
                  display: block;
                  width: 100%;
                  height: 30px;
                  color: #fff;
                  font-size: 17px; }
            .header .nav ul li.projects {
              width: 100%; } }
  .header .ballon {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #f2f4f7;
    position: absolute;
    right: 15px;
    top: 15px;
    box-sizing: border-box;
    padding: 10px 8px;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    opacity: 0; }
    @media only screen and (max-width: 768px) {
      .header .ballon {
        opacity: .8; } }
    .header .ballon span {
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all .3s linear;
      transform-origin: 0 1px; }
    .header .ballon.active .one {
      transform: translateY(-2px) rotate(45deg);
      width: 33px; }
    .header .ballon.active .two {
      opacity: 0; }
    .header .ballon.active .three {
      transform: translateY(2px) rotate(-45deg);
      width: 33px; }
  .header .logo {
    position: absolute;
    top: 32px;
    right: 59px;
    width: 233px;
    height: 80px;
    z-index: 200;
    transition: all .3s linear; }
    @media only screen and (max-width: 1200px) {
      .header .logo {
        top: 16px;
        right: 30px;
        width: 117px;
        height: 40px; } }
    @media only screen and (max-width: 860px) {
      .header .logo {
        display: none; } }

.footer {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px; }
  .footer .f {
    display: inline-block;
    font-size: 17px;
    color: #000; }
    .footer .f li {
      float: left;
      margin-right: 115px;
      width: 150px;
      white-space: nowrap;
      cursor: pointer; }
      .footer .f li:hover {
        font-weight: bold; }
      .footer .f li:last-child {
        margin-right: 0; }
      @media only screen and (max-width: 800px) {
        .footer .f li {
          width: 90px;
          margin-right: 20px; } }
  @media only screen and (max-width: 1200px) {
    .footer {
      margin-top: 35px;
      margin-bottom: 17px; }
      .footer .f {
        font-size: 12px; }
        .footer .f li {
          margin-right: 60px; } }
  @media only screen and (max-width: 800px) {
    .footer {
      display: none; } }

.hide {
  display: none; }

#page1 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  #page1.bg1 {
    background-image: url(images/bg1.5fa2baba2045ecda1a1c65391081c9c5.jpg); }
  #page1.bg2 {
    background-image: url(images/bg2.f0a4abd4918732d6154fbe398b30d90d.jpg); }
  #page1.bg3 {
    background-image: url(images/bg3.e9b70b72d958fd1e1ac3f1ddda139087.jpg); }
  #page1.bg4 {
    background-image: url(images/bg4.9baf32e171f2fc65164dcb8abf6e29d8.jpg); }
  #page1 .footer {
    margin: 0;
    position: fixed;
    bottom: 34px;
    left: 0;
    right: 0;
    text-align: center; }
    #page1 .footer .f {
      display: inline-block;
      font-size: 17px; }
      #page1 .footer .f li {
        float: left;
        margin-right: 115px; }
    @media only screen and (max-width: 1200px) {
      #page1 .footer {
        bottom: 17px; }
        #page1 .footer .f {
          font-size: 12px; }
          #page1 .footer .f li {
            margin-right: 60px; } }
    @media only screen and (max-width: 630px) {
      #page1 .footer {
        display: none; } }

#page2 {
  color: #000; }
  #page2 .header .nav {
    overflow: hidden; }
    #page2 .header .nav li {
      color: #000; }
      @media only screen and (max-width: 768px) {
        #page2 .header .nav li {
          color: #fff; }
          #page2 .header .nav li a {
            color: #fff; } }
  #page2 .article {
    font-size: 17px;
    display: block;
    margin-top: 100px; }
    @media only screen and (max-width: 768px) {
      #page2 .article {
        margin-top: 40px; } }
    #page2 .article .location {
      width: 100%;
      text-align: left;
      display: block;
      text-indent: 44px; }
      @media only screen and (max-width: 768px) {
        #page2 .article .location {
          margin-bottom: 30px;
          font-size: 12px; } }
    #page2 .article .section-1 {
      margin-top: 30px;
      text-align: center;
      font-size: 0;
      display: flex;
      padding: 0 44px;
      justify-content: space-between; }
      #page2 .article .section-1 .img-group-left {
        display: inline-block;
        width: 47%;
        overflow: hidden; }
        #page2 .article .section-1 .img-group-left .view-window {
          transition: transform .5s linear;
          white-space: nowrap; }
        #page2 .article .section-1 .img-group-left img {
          width: 100%; }
      #page2 .article .section-1 .img-group-right {
        display: inline-block;
        margin-right: 0;
        width: 47%; }
        #page2 .article .section-1 .img-group-right .v {
          transition: transform .5s linear;
          padding-top: 150%;
          position: relative;
          overflow: hidden; }
          #page2 .article .section-1 .img-group-right .v .view-window {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            white-space: nowrap; }
            #page2 .article .section-1 .img-group-right .v .view-window img {
              width: 100%; }
    #page2 .article .section-2 {
      margin-top: 70px;
      padding: 0 44px;
      font-size: 0; }
      #page2 .article .section-2 img {
        width: 100%; }
  #page2 a, #page2 a:hover, #page2 a:link, #page2 a:active, #page2 a:visited, #page2 a:focus {
    text-decoration: none;
    color: #000; }
  #page2 .ballon {
    right: 30px; }

#page3 {
  color: #000; }
  #page3 .header .nav li {
    color: #000; }
  #page3 .article {
    margin-top: 100px;
    font-size: 17px;
    padding: 12px 44px 0 44px; }
    @media only screen and (max-width: 768px) {
      #page3 .article {
        margin-top: 30px; } }
    #page3 .article .location {
      margin-bottom: 40px;
      font-size: 17px;
      color: #000; }
      @media only screen and (max-width: 768px) {
        #page3 .article .location {
          margin-bottom: 30px;
          font-size: 12px; } }
    #page3 .article .section-1 {
      margin-bottom: 100px;
      overflow: hidden; }
      #page3 .article .section-1 .section-1-left {
        float: left;
        width: 36%;
        text-align: center; }
        @media only screen and (max-width: 768px) {
          #page3 .article .section-1 .section-1-left {
            width: 100%; } }
        #page3 .article .section-1 .section-1-left .img-group-1 h2 {
          font-size: 30px;
          color: #000;
          letter-spacing: -1px; }
          @media only screen and (max-width: 768px) {
            #page3 .article .section-1 .section-1-left .img-group-1 h2 {
              font-size: 12px; } }
        #page3 .article .section-1 .section-1-left .img-group-1 .img1 {
          width: 100%; }
        #page3 .article .section-1 .section-1-left .img-group-1 p {
          font-size: 27px;
          line-height: 27px;
          color: #000;
          text-align: left; }
          @media only screen and (max-width: 768px) {
            #page3 .article .section-1 .section-1-left .img-group-1 p {
              font-size: 12px;
              line-height: 12px; } }
        #page3 .article .section-1 .section-1-left .img-group-2 {
          width: 50%;
          display: inline-block;
          margin-top: 200px; }
          @media only screen and (max-width: 768px) {
            #page3 .article .section-1 .section-1-left .img-group-2 {
              width: 100%;
              margin-top: 50px; } }
          #page3 .article .section-1 .section-1-left .img-group-2 .img4 {
            width: 100%; }
      #page3 .article .section-1 .section-1-right {
        float: right;
        width: 64%;
        padding-left: 100px;
        box-sizing: border-box; }
        @media only screen and (max-width: 768px) {
          #page3 .article .section-1 .section-1-right {
            width: 100%;
            padding-left: 0;
            float: none; } }
        #page3 .article .section-1 .section-1-right .section-1-right-top {
          margin-bottom: 100px; }
          @media only screen and (max-width: 768px) {
            #page3 .article .section-1 .section-1-right .section-1-right-top {
              width: 100%; } }
          #page3 .article .section-1 .section-1-right .section-1-right-top .img2 {
            margin-top: 150px;
            width: 50%;
            vertical-align: top; }
            @media only screen and (max-width: 768px) {
              #page3 .article .section-1 .section-1-right .section-1-right-top .img2 {
                width: 100%;
                margin-top: 50px; } }
          #page3 .article .section-1 .section-1-right .section-1-right-top .img-group {
            width: 30%;
            display: inline-block;
            float: right; }
            @media only screen and (max-width: 768px) {
              #page3 .article .section-1 .section-1-right .section-1-right-top .img-group {
                width: 100%;
                float: none; } }
            #page3 .article .section-1 .section-1-right .section-1-right-top .img-group .img3 {
              margin-top: 50px;
              width: 100%; }
            #page3 .article .section-1 .section-1-right .section-1-right-top .img-group p {
              font-size: 20px; }
              @media only screen and (max-width: 768px) {
                #page3 .article .section-1 .section-1-right .section-1-right-top .img-group p {
                  text-align: center;
                  font-size: 12px; } }
        #page3 .article .section-1 .section-1-right .section-1-right-bottom {
          padding-left: 50px; }
          @media only screen and (max-width: 768px) {
            #page3 .article .section-1 .section-1-right .section-1-right-bottom {
              padding-left: 0; } }
          #page3 .article .section-1 .section-1-right .section-1-right-bottom .img-group p {
            font-size: 27px;
            color: #000; }
            @media only screen and (max-width: 768px) {
              #page3 .article .section-1 .section-1-right .section-1-right-bottom .img-group p {
                font-size: 12px; } }
          #page3 .article .section-1 .section-1-right .section-1-right-bottom .img-group .img5 {
            width: 100%; }
    #page3 .article .section-2 {
      margin-bottom: 245px;
      overflow: hidden; }
      @media only screen and (max-width: 768px) {
        #page3 .article .section-2 {
          margin-bottom: 50px; } }
      #page3 .article .section-2 .section-2-left {
        width: 60%;
        float: left; }
        @media only screen and (max-width: 768px) {
          #page3 .article .section-2 .section-2-left {
            width: 100%;
            float: none; } }
        #page3 .article .section-2 .section-2-left .img6 {
          width: 70%;
          margin-left: 150px;
          margin-bottom: 150px; }
          @media only screen and (max-width: 768px) {
            #page3 .article .section-2 .section-2-left .img6 {
              width: 100%;
              margin: 0; } }
        #page3 .article .section-2 .section-2-left .img-group {
          width: 100%; }
          #page3 .article .section-2 .section-2-left .img-group h2 {
            font-size: 40px; }
            @media only screen and (max-width: 768px) {
              #page3 .article .section-2 .section-2-left .img-group h2 {
                font-size: 12px;
                text-align: center;
                margin-bottom: 50px; } }
          #page3 .article .section-2 .section-2-left .img-group .img8 {
            width: 100%; }
      #page3 .article .section-2 .section-2-right {
        width: 40%;
        box-sizing: border-box;
        float: right;
        padding-left: 100px; }
        @media only screen and (max-width: 768px) {
          #page3 .article .section-2 .section-2-right {
            width: 100%;
            float: none;
            padding: 0; } }
        #page3 .article .section-2 .section-2-right .img-group {
          font-size: 0; }
          #page3 .article .section-2 .section-2-right .img-group img {
            width: 90%; }
            @media only screen and (max-width: 768px) {
              #page3 .article .section-2 .section-2-right .img-group img {
                width: 100%; } }
  #page3 a, #page3 a:hover, #page3 a:link, #page3 a:active, #page3 a:visited, #page3 a:focus {
    text-decoration: none;
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page3 a, #page3 a:hover, #page3 a:link, #page3 a:active, #page3 a:visited, #page3 a:focus {
        color: #fff; } }

#page4 {
  color: #000; }
  #page4 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page4 .header .nav li {
        color: #fff; }
        #page4 .header .nav li a {
          color: #fff; } }
  #page4 .article {
    padding: 0 44px;
    font-size: 0;
    margin-top: 100px; }
    @media only screen and (max-width: 768px) {
      #page4 .article {
        margin-top: 40px; } }
    #page4 .article .location {
      margin: 12px 0 40px 0;
      font-size: 17px; }
      @media only screen and (max-width: 768px) {
        #page4 .article .location {
          margin-bottom: 30px;
          font-size: 12px; } }
    #page4 .article .img-group {
      display: inline-block;
      width: 25%;
      padding-right: 24px;
      box-sizing: border-box; }
      #page4 .article .img-group img {
        width: 100%; }
      #page4 .article .img-group .t-shirt {
        margin-top: 13px;
        font-size: 14px;
        line-height: 27px; }
      #page4 .article .img-group .pant {
        font-size: 14px;
        margin-bottom: 26px; }
      @media only screen and (max-width: 768px) {
        #page4 .article .img-group .t-shirt {
          font-size: 12px; }
        #page4 .article .img-group .pant {
          font-size: 12px; } }
      @media only screen and (max-width: 630px) {
        #page4 .article .img-group {
          width: 50%; }
          #page4 .article .img-group .t-shirt {
            margin-top: 4px; }
          #page4 .article .img-group .pant {
            margin-bottom: 10px; } }
      @media only screen and (max-width: 380px) {
        #page4 .article .img-group .t-shirt {
          transform: scale(0.6);
          transform-origin: 0 center;
          white-space: nowrap; }
        #page4 .article .img-group .pant {
          transform: scale(0.6);
          transform-origin: 0 center;
          white-space: nowrap; } }
  #page4 a, #page4 a:hover, #page4 a:link, #page4 a:active, #page4 a:visited, #page4 a:focus {
    text-decoration: none;
    color: #000; }

#page5 {
  color: #000; }
  #page5 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page5 .header .nav li {
        color: #fff; }
        #page5 .header .nav li a {
          color: #fff; } }
  #page5 .article {
    padding: 0 44px;
    font-size: 0;
    margin-top: 100px; }
    @media only screen and (max-width: 768px) {
      #page5 .article {
        margin-top: 40px; } }
    #page5 .article .location {
      margin: 12px 0 40px 0;
      font-size: 17px; }
      @media only screen and (max-width: 768px) {
        #page5 .article .location {
          margin-bottom: 30px;
          font-size: 12px; } }
    #page5 .article .container {
      display: flex; }
      @media only screen and (max-width: 768px) {
        #page5 .article .container {
          display: block; } }
      #page5 .article .container .img {
        width: 40%; }
        @media only screen and (max-width: 768px) {
          #page5 .article .container .img {
            width: 100%; } }
        #page5 .article .container .img img {
          width: 100%; }
      #page5 .article .container .text-introduction {
        display: flex;
        flex: 1;
        padding-left: 127px;
        flex-flow: column nowrap;
        justify-content: space-between;
        font-size: 16px; }
        @media only screen and (max-width: 1200px) {
          #page5 .article .container .text-introduction {
            font-size: 12px; } }
        @media only screen and (max-width: 768px) {
          #page5 .article .container .text-introduction {
            padding: 0;
            display: block;
            margin-top: 20px;
            font-size: 12px; } }
        #page5 .article .container .text-introduction .ch {
          margin-bottom: 15px; }
  #page5 a, #page5 a:hover, #page5 a:link, #page5 a:active, #page5 a:visited, #page5 a:focus {
    text-decoration: none;
    color: #000; }

#page6 {
  color: #000; }
  #page6 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page6 .header .nav li {
        color: #fff; }
        #page6 .header .nav li a {
          color: #fff; } }
  #page6 .article {
    padding: 0 44px;
    font-size: 0;
    margin-top: 100px; }
    @media only screen and (max-width: 768px) {
      #page6 .article {
        margin-top: 40px; } }
    #page6 .article .location {
      margin: 12px 0 40px 0;
      font-size: 17px;
      line-height: 17px; }
      @media only screen and (max-width: 768px) {
        #page6 .article .location {
          margin-bottom: 30px;
          font-size: 12px; } }
    #page6 .article .intro {
      margin-bottom: 20px; }
      #page6 .article .intro img {
        width: 224px;
        height: 146px;
        vertical-align: top; }
        @media only screen and (max-width: 1210px) {
          #page6 .article .intro img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px; } }
        @media only screen and (max-width: 768px) {
          #page6 .article .intro img {
            width: 112px;
            height: 73px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px; } }
        @media only screen and (max-width: 400px) {
          #page6 .article .intro img {
            margin-left: 100px; } }
      #page6 .article .intro .intro {
        padding-left: 60px;
        display: inline-block;
        width: 820px;
        vertical-align: top; }
        #page6 .article .intro .intro .ch {
          font-size: 20px;
          margin-bottom: 28px;
          line-height: 29px; }
        #page6 .article .intro .intro .en {
          font-size: 14px;
          line-height: 18px; }
        @media only screen and (max-width: 980px) {
          #page6 .article .intro .intro {
            padding: 0;
            width: 100%; }
            #page6 .article .intro .intro .ch {
              font-size: 12px;
              margin-bottom: 14px;
              line-height: 12px; }
            #page6 .article .intro .intro .en {
              font-size: 12px;
              line-height: 12px; } }
    #page6 .article .img-group {
      font-size: 0; }
      #page6 .article .img-group .block {
        width: 33.3%;
        position: relative;
        display: inline-block; }
        #page6 .article .img-group .block.block1 {
          color: #c80012; }
        #page6 .article .img-group .block.block2 {
          color: #ffc400; }
        #page6 .article .img-group .block.block3 {
          color: #8200ff; }
        #page6 .article .img-group .block.block4 {
          color: #ff82b5; }
        #page6 .article .img-group .block.block5 {
          color: #0000ff; }
        #page6 .article .img-group .block.block6 {
          color: #ff3300; }
        #page6 .article .img-group .block h4 {
          position: absolute;
          left: 50%;
          top: 50%;
          font-size: 90px;
          z-index: 1;
          text-align: center;
          transform: translate3d(-50%, -50%, 0); }
          @media only screen and (max-width: 1210px) {
            #page6 .article .img-group .block h4 {
              font-size: 48px; } }
          @media only screen and (max-width: 768px) {
            #page6 .article .img-group .block h4 {
              font-size: 12px; } }
        #page6 .article .img-group .block p {
          position: absolute;
          text-align: center;
          left: 0;
          right: 0;
          text-align: center;
          bottom: 20px;
          font-size: 35px; }
          @media only screen and (max-width: 1210px) {
            #page6 .article .img-group .block p {
              font-size: 12px; } }
          @media only screen and (max-width: 500px) {
            #page6 .article .img-group .block p {
              display: none; } }
        #page6 .article .img-group .block img {
          width: 100%; }
  #page6 a, #page6 a:hover, #page6 a:link, #page6 a:active, #page6 a:visited, #page6 a:focus {
    text-decoration: none;
    color: #000; }
  #page6 .fixToWidth768 {
    display: none; }
  @media only screen and (max-width: 768px) {
    #page6 .fixToWidth768 {
      display: block;
      position: absolute;
      top: 100px;
      left: 0px;
      z-index: 20;
      font-size: 0; }
      #page6 .fixToWidth768 .ff {
        font-size: 12px;
        transform: scale(0.5);
        cursor: pointer;
        height: 20px;
        width: 200px;
        white-space: nowrap; }
        #page6 .fixToWidth768 .ff .ff-en {
          display: block; }
        #page6 .fixToWidth768 .ff .ff-ch {
          display: none; }
        #page6 .fixToWidth768 .ff:hover .ff-en {
          display: none; }
        #page6 .fixToWidth768 .ff:hover .ff-ch {
          display: block; } }

#page7 {
  color: #000; }
  #page7 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page7 .header .nav li {
        color: #fff; }
        #page7 .header .nav li a {
          color: #fff; } }
  #page7 .article {
    padding: 0 44px;
    margin-top: 100px; }
    @media only screen and (max-width: 768px) {
      #page7 .article {
        margin-top: 40px; } }
    #page7 .article .location {
      font-size: 17px;
      line-height: 27px;
      margin: 12px 0 40px 0; }
      @media only screen and (max-width: 768px) {
        #page7 .article .location {
          margin-bottom: 30px;
          font-size: 12px; } }
    #page7 .article .container {
      width: 60%;
      margin: 0 auto;
      display: flex; }
      @media only screen and (max-width: 768px) {
        #page7 .article .container {
          width: 100%;
          display: block; } }
      #page7 .article .container .container-left {
        width: 30%; }
        #page7 .article .container .container-left h4 {
          font-size: 40px;
          margin-bottom: 20px; }
        #page7 .article .container .container-left h5 {
          font-size: 30px;
          margin-bottom: 45px; }
        #page7 .article .container .container-left p {
          font-size: 13px;
          line-height: 25px; }
        @media only screen and (max-width: 768px) {
          #page7 .article .container .container-left {
            width: 100%;
            display: block; }
            #page7 .article .container .container-left h4 {
              font-size: 18px;
              margin-bottom: 12px; }
            #page7 .article .container .container-left h5 {
              font-size: 16px;
              margin-bottom: 12px; }
            #page7 .article .container .container-left p {
              font-size: 12px;
              line-height: 12px;
              margin-bottom: 20px; } }
      #page7 .article .container .container-right {
        flex: 1;
        box-sizing: border-box;
        padding-left: 62px;
        font-size: 0; }
        #page7 .article .container .container-right img {
          width: 100%;
          margin-bottom: 28px; }
        @media only screen and (max-width: 768px) {
          #page7 .article .container .container-right {
            width: 100%;
            display: block;
            padding: 0; }
            #page7 .article .container .container-right img {
              margin-bottom: 10px; } }
  #page7 a, #page7 a:hover, #page7 a:link, #page7 a:active, #page7 a:visited, #page7 a:focus {
    text-decoration: none;
    color: #000; }

#page8 {
  color: #000; }
  #page8 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page8 .header .nav li {
        color: #fff; }
        #page8 .header .nav li a {
          color: #fff; } }
  #page8 .article {
    padding: 0 44px;
    margin-top: 100px; }
    @media only screen and (max-width: 768px) {
      #page8 .article {
        margin-top: 40px; } }
    #page8 .article .location {
      font-size: 17px;
      line-height: 27px;
      margin: 12px 0 40px 0; }
      @media only screen and (max-width: 768px) {
        #page8 .article .location {
          margin-bottom: 20px;
          font-size: 12px; } }
    #page8 .article .container .container-floor1 {
      margin-bottom: 60px; }
      @media only screen and (max-width: 768px) {
        #page8 .article .container .container-floor1 {
          margin-top: 20px; } }
      #page8 .article .container .container-floor1 .floor1-left {
        display: inline-block;
        width: 520px;
        text-align: center; }
        @media only screen and (max-width: 768px) {
          #page8 .article .container .container-floor1 .floor1-left {
            width: 100%; } }
        #page8 .article .container .container-floor1 .floor1-left div {
          text-align: right; }
          #page8 .article .container .container-floor1 .floor1-left div img {
            width: 200px; }
          @media only screen and (max-width: 768px) {
            #page8 .article .container .container-floor1 .floor1-left div {
              text-align: center;
              width: 100%; } }
        #page8 .article .container .container-floor1 .floor1-left img {
          width: 100%; }
          @media only screen and (max-width: 768px) {
            #page8 .article .container .container-floor1 .floor1-left img {
              width: 200px; } }
      #page8 .article .container .container-floor1 .floor1-right {
        display: inline-block;
        padding-left: 68px;
        width: 824px; }
        @media only screen and (max-width: 768px) {
          #page8 .article .container .container-floor1 .floor1-right {
            padding: 0;
            margin: 0 20px;
            width: 100%;
            word-break: break-all; } }
        #page8 .article .container .container-floor1 .floor1-right .ch {
          font-size: 20px;
          line-height: 29px;
          margin-bottom: 28px; }
        #page8 .article .container .container-floor1 .floor1-right .en {
          font-size: 14px;
          line-height: 18px; }
    #page8 .article .container .container-floor2 {
      font-size: 0; }
      #page8 .article .container .container-floor2 .img-group {
        width: 50%;
        display: inline-block;
        position: relative; }
        #page8 .article .container .container-floor2 .img-group h3 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          color: #66ffbf;
          z-index: 1;
          font-size: 90px;
          white-space: nowrap; }
          @media only screen and (max-width: 1400px) {
            #page8 .article .container .container-floor2 .img-group h3 {
              font-size: 24px; } }
          @media only screen and (max-width: 768px) {
            #page8 .article .container .container-floor2 .img-group h3 {
              font-size: 12px; } }
        #page8 .article .container .container-floor2 .img-group img {
          width: 100%; }
  #page8 a, #page8 a:hover, #page8 a:link, #page8 a:active, #page8 a:visited, #page8 a:focus {
    text-decoration: none;
    color: #000; }

#page9 {
  color: #000; }
  #page9 .header .nav li {
    color: #000; }
    @media only screen and (max-width: 768px) {
      #page9 .header .nav li {
        color: #fff; }
        #page9 .header .nav li a {
          color: #fff; } }
  #page9 .article {
    padding: 0 44px;
    margin-top: 100px; }
    @media only screen and (max-width: 768px) {
      #page9 .article {
        margin-top: 50px; } }
    #page9 .article .location {
      font-size: 17px;
      line-height: 27px;
      margin: 12px 0 40px 0; }
      @media only screen and (max-width: 768px) {
        #page9 .article .location {
          margin-bottom: 30px;
          font-size: 12px; } }
    @media only screen and (max-width: 768px) {
      #page9 .article .container {
        margin-top: -80px; } }
    #page9 .article .container img {
      margin-left: 142px;
      width: 35%;
      vertical-align: top; }
      @media only screen and (max-width: 900px) {
        #page9 .article .container img {
          width: 100%;
          margin: 0; } }
    #page9 .article .container ul {
      display: inline-block;
      vertical-align: top;
      margin-left: 15%; }
      #page9 .article .container ul li {
        margin-bottom: 1.3rem; }
        #page9 .article .container ul li:first-child {
          margin-top: 56px; }
        #page9 .article .container ul li:last-child {
          margin-bottom: 0; }
        #page9 .article .container ul li img {
          width: 36px;
          vertical-align: middle;
          margin-right: 22px; }
        #page9 .article .container ul li span {
          font-size: 17px;
          vertical-align: middle; }
        @media only screen and (max-width: 1280px) {
          #page9 .article .container ul li li {
            margin-bottom: 56px; } }
      @media only screen and (max-width: 1280px) {
        #page9 .article .container ul {
          margin-left: 8%; }
          #page9 .article .container ul li:first-child {
            margin-top: 0; } }
      @media only screen and (max-width: 900px) {
        #page9 .article .container ul {
          margin-left: 0; }
          #page9 .article .container ul li {
            margin-bottom: 30px;
            width: 45%;
            display: inline-block;
            text-align: center;
            margin-top: 20px; }
            #page9 .article .container ul li img {
              width: 24px;
              margin-right: 10px; }
            #page9 .article .container ul li span {
              font-size: 24px; } }
    @media only screen and (max-width: 900px) and (max-width: 550px) {
      #page9 .article .container ul li img {
        width: 18px; }
      #page9 .article .container ul li span {
        font-size: 18px; } }
    @media only screen and (max-width: 900px) and (max-width: 400px) {
      #page9 .article .container ul li img {
        width: 14px;
        margin: 0; }
      #page9 .article .container ul li span {
        font-size: 14px; } }
    @media only screen and (max-width: 900px) and (max-width: 550px) {
      #page9 .article .container ul li {
        margin-bottom: 8px; } }
  #page9 a, #page9 a:hover, #page9 a:link, #page9 a:active, #page9 a:visited, #page9 a:focus {
    text-decoration: none;
    color: #000; }
