#page1 {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  &.current1 {
    background-image: url("../image/page1/bg1.jpg");
  }
  &.current2 {
    background-image: url("../image/page1/bg2.jpg");
  }

  .right-icon {
    position: absolute;
    top: .7rem;
    right: .95rem;
    width: .77rem;
    height: .95rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
