#page4 {
    color: #000;

    .header {
        .nav {
            li {
                color: #000;
                @media only screen and (max-width: 768px) {
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .article {
        padding: 0 44px;
        font-size: 0;
        margin-top: 80px;
        @media only screen and (max-width: 768px) {
            margin-top: -240px;
        }
        .location {
            margin: 12px 0 40px 0;
            font-size: 17px;
            @media only screen and (max-width: 768px) {
                margin-bottom: 30px;
                font-size: 12px;
            }
        }
        .img-group {
            display: inline-block;
            width: 25%;
            padding-right: 24px;
            box-sizing: border-box;
            img {
                width: 100%;
            }
            .t-shirt {
                margin-top: 13px;
                font-size: 14px;
                line-height: 27px;
            }
            .pant {
                font-size: 14px;
                margin-bottom: 26px;
            } 
            @media only screen and (max-width: 768px) {
                .t-shirt {
                    font-size: 12px;
                }
                .pant {
                    font-size: 12px;
                }
            }
            @media only screen and (max-width: 630px) {
                width: 50%;
                .t-shirt {
                    margin-top: 4px;
                }
                .pant {
                    margin-bottom: 10px;
                }
            }
            @media only screen and (max-width: 380px) {
                .t-shirt {
                    transform: scale(.6);
                    transform-origin: 0 center;
                    white-space: nowrap;
                }
                .pant {
                    transform: scale(.6);
                    transform-origin: 0 center;
                    white-space: nowrap;
                }
            }
        }
    }
        
    a,a:hover,a:link,a:active,a:visited,a:focus {
        text-decoration: none;
        color: #000;
    }
}