#page9 {
    color: #000;

    .header {
        .nav {
            li {
                color: #000;
                @media only screen and (max-width: 768px) {
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .article {
        padding: 0 44px;
        margin-top: 80px;
        @media only screen and (max-width: 768px) {
            margin-top: -180px;
        }
        .location {
            font-size: 17px;
            line-height: 27px;
            margin: 12px 0 40px 0;
            @media only screen and (max-width: 768px) {
                margin-bottom: 30px;
                font-size: 12px;
            }
        }
        .container {
            @media only screen and (max-width: 768px) {
                margin-top: -80px;
            }
            img {
                margin-left:  142px;
                width: 35%;
                vertical-align: top;
                @media only screen and (max-width: 768px) {
                    width: 100%;
                    margin: 0;
                }
            }
            ul {
                display: inline-block;
                vertical-align: top;
                margin-left: 15%;
                li {
                    margin-bottom: 130px;
                    &:first-child {
                        margin-top: 56px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    img {
                        width: 36px;
                        vertical-align: middle;
                        margin-right: 22px;
                    }
                    span {
                        font-size: 17px;
                        vertical-align: middle;
                    }
                }
                @media only screen and (max-width: 768px) {
                    margin-left: 0;
                    li {
                        margin-bottom: 30px;
                        width: 45%;
                        display: inline-block;
                        img {
                            width: 12px;
                            margin-right: 10px;
                        }
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
        
    a,a:hover,a:link,a:active,a:visited,a:focus {
        text-decoration: none;
        color: #000;
    }
}