#page6 {
  color: #000;

  .header {
    .nav {
      li {
        color: #000;
        @media only screen and (max-width: 768px) {
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }

  .article {
    padding: 0 44px;
    font-size: 0;
    margin-top: 100px;
    @media only screen and (max-width: 768px) {
      margin-top: 40px;
    }
    .location {
      margin: 12px 0 40px 0;
      font-size: 17px;
      line-height: 17px;
      font-family: AkzidenzGrotesk-MediumExtended;
      @media only screen and (max-width: 768px) {
        margin-bottom: 30px;
        font-size: 12px;
      }
    }
    .intro {
      margin-bottom: 20px;
      img {
        width: 224px;
        height: 146px;
        vertical-align: top;
        @media only screen and (max-width: 1210px) {
          display: block;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        @media only screen and (max-width: 768px) {
          width: 112px;
          height: 73px;
          display: block;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        @media only screen and (max-width: 400px) {
          margin-left: 100px;
        }
      }
      .intro {
        padding-left: 60px;
        display: inline-block;
        width: 820px;
        vertical-align: top;

        .ch {
          font-size: 20px;
          margin-bottom: 28px;
          line-height: 29px;
          font-family: HYQiHeiY1-65W;
        }
        .en {
          font-size: 14px;
          line-height: 18px;
          font-family: AkzidenzGrotesk-MediumExtended;
        }
        @media only screen and (max-width: 980px) {
          padding: 0;
          width: 100%;
          .ch {
            font-size: 12px;
            margin-bottom: 14px;
            line-height: 12px;
          }
          .en {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
    .img-group {
      font-size: 0;
      .block {
        width: 33.3%;
        position: relative;
        display: inline-block;
        &.block1 {
          color: #c80012;
        }
        &.block2 {
          color: #ffc400;
        }
        &.block3 {
          color: #8200ff;
        }
        &.block4 {
          color: #ff82b5;
        }
        &.block5 {
          color: #0000ff;
        }
        &.block6 {
          color: #ff3300;
        }
        h4 {
          position: absolute;
          left: 50%;
          top: 50%;
          font-size: 40px;
          z-index: 1;
          text-align: center;
          transform: translate3d(-50%, -50%, 0);
          font-family: AkzidenzGrotesk-MediumExtended;
          @media only screen and (max-width: 1210px) {
            font-size: 35px;
          }
          @media only screen and (max-width: 768px) {
            font-size: 12px;
          }
        }
        p {
          position: absolute;
          text-align: center;
          left: 0;
          right: 0;
          text-align: center;
          bottom: 20px;
          font-size: 35px;
          @media only screen and (max-width: 1210px) {
            font-size: 12px;
          }
          @media only screen and (max-width: 500px) {
            display: none;
          }

        }
        img {
          width: 100%;
        }
      }
    }

  }

  a, a:hover, a:link, a:active, a:visited, a:focus {
    text-decoration: none;
    color: #000;
  }
  .fixToWidth768 {
    display: none;
  }
  @media only screen and(max-width: 768px) {
    .fixToWidth768 {
      display: block;
      position: absolute;
      top: 100px;
      left: 0px;
      z-index: 20;
      font-size: 0;
      .ff {
        font-size: 12px;
        transform: scale(.5);
        cursor: pointer;
        height: 20px;
        width: 200px;
        white-space: nowrap;
        .ff-en {
          display: block;
        }
        .ff-ch {
          display: none;
        }
        &:hover {
          .ff-en {
            display: none;
          }
          .ff-ch {
            display: block;
          }
        }
      }
    }
  }
}