#page11 {
  color: #000;

  .header {
    .nav {
      li {
        color: #000;
        @media only screen and (max-width: 768px) {
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  a, a:hover, a:link, a:active, a:visited, a:focus {
    text-decoration: none;
    color: #000;
  }

  .article {
    padding: 0 44px;
    font-size: 0;
    margin-top: 100px;
    @media only screen and (max-width: 768px) {
      margin-top: 40px;
    }
    .location {
      margin: 12px 0 40px 0;
      font-size: 17px;
      line-height: 17px;
      font-family: AkzidenzGrotesk-MediumExtended;
      @media only screen and (max-width: 768px) {
        margin-bottom: 30px;
        font-size: 12px;
      }
    }

    .img-group {
      padding: 0 60px;
      display: flex;

      .split {
        flex: 0 0 64px;
      }
      .block {
        display: inline-block;
        width: 30%;
        img {
          width: 100%;
        }
        p {
          text-align: center;
          margin-top: 35px;
          font-size: 24px;
          font-weight: bold;
          @media only screen and (max-width: 1280px) {
            font-size: 16px;
            margin-top: 20px;
          }
          @media only screen and (max-width: 768px) {
            font-size: 12px;
            margin-top: 10px;
          }
        }
        &:first-child {
          margin-top: 60px;
        }
        &:last-child {
          margin-top: 60px;
        }
        @media only screen and (max-width: 1280px) {
          &:first-child {
            margin-top: 30px;
          }
          &:last-child {
            margin-top: 30px;
          }
        }
        @media only screen and (max-width: 768px) {
          &:first-child {
            margin-top: 15px;
          }
          &:last-child {
            margin-top: 15px;
          }
        }
      }
      @media only screen and (max-width: 700px) {
        display: block;
        .block {
          display: block;
          width: 100%;
          p {
            margin-bottom: 30px;
          }
        }
        .split {
          display: none;
        }
      }
    }

  }
}