#page12 {
  color: #000;

  .header {
    .nav {
      li {
        color: #000;
        @media only screen and (max-width: 768px) {
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }

  .article {
    padding: 0 44px;
    font-size: 0;
    margin-top: 100px;
    @media only screen and (max-width: 768px) {
      margin-top: 40px;
    }
    .location {
      margin: 12px 0 40px 0;
      font-size: 17px;
      line-height: 17px;
      font-family: AkzidenzGrotesk-MediumExtended;
    }

    .sowing-map {
      padding: 40px 60px;
      padding-bottom: 0;
      white-space: nowrap;
      .img {
        position: relative;
        img {
          width: 100%;
        }
        .intro {
          position: absolute;
          z-index: 1;
          left: 50%;
          top: 50%;
          width: 100%;
          transform: translateX(-50%) translateY(-50%);
          h1 {
            font-size: 50px;
            color: #fff;
            text-align: center;
            font-weight: bold;
          }
          h2 {
            font-size: 40px;
            color: #fff;
            text-align: center;
            margin-top: 40px;
            font-weight: bold;
          }
        }
        .icon {
          position: absolute;
          right: 20px;
          bottom: 20px;
          width: 112px;
          height: 70px;
          &.icon2 {
            width: 160px;
          }
          &.icon3 {
            width: 100px;
            height: 58px;
          }
        }
      }
    }

    .dots-wrapper {
      text-align: center;
      margin-top: 20px;
      .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #969696;
        border-radius: 50%;
        margin-right: 20px;
        cursor: pointer;
        &.active {
          background-color: #4d4d4d;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

  }

  a, a:hover, a:link, a:active, a:visited, a:focus {
    text-decoration: none;
    color: #000;
  }
  .hidden {
    display: none;
  }
}