#page2 {
    color: #000;
    .header {
        .nav {
            li {
                color: #000;
                @media only screen and (max-width: 768px) {
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
    .article {
        font-size: 17px;
        display: block;
        margin-top: 40px;
        @media only screen and (max-width: 768px) {
            margin-top: -240px;
        }
        .location {
            margin-left: 44px;
            width: 100%;
            text-align: left;
            display: block;
            @media only screen and (max-width: 768px) {
                margin-bottom: 30px;
                font-size: 12px;
            }
        }
        .section-1 {
            margin-top: 30px;
            text-align: center;
            font-size: 0;
            display: flex;
            padding: 0 44px;
            justify-content: space-between;
            .img-group-left {
                display: inline-block;
                width: 47%;
                overflow: hidden;
                .view-window {
                    transition: transform .5s linear;
                    white-space: nowrap;
                }
                img {
                    width: 100%;
                }
            }
            .img-group-right {
                display: inline-block;
                margin-right: 0;
                width: 47%;
                .v {
                    transition: transform .5s linear;
                    padding-top: 150%;
                    position: relative;
                    overflow: hidden;
                    .view-window {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        white-space: wrap;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .section-2 {
            margin-top: 70px;
            padding: 0 44px;
            font-size: 0;
            img {
                width: 100%;
            }
        }
    }

    a,a:hover,a:link,a:active,a:visited,a:focus {
        text-decoration: none;
        color: #000;
    }
}