<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="page10">
    <header class="header">
        <a href="./index.html">
            <img class="logo" src="../image/logo-black.png">
        </a>
    </header>
    <article class="article">
        <nav class="location">
            <a href="./index.html">MAIN</a> > PROJECT_专题 > PARENT - CHILD - 亲子俱乐部
        </nav>
        <article class="intro">
            <img src="../image/page10/parent-child-club.png">
            <section class="intro">
                <p class="ch">"对在寻找自我的成长道路上踽踽独行的青少年们来说，孤独的冒险精神和前行的勇气必不可少，而最可贵也最难得的则是陪伴。我们就发现了几个互相陪伴着共同成长的家庭，分享他们最珍贵的亲子状态，希望能带去有效陪伴的意义。"</p>
                <p class="en">For young people who walk alone in search of their own growth, the solitary adventurous spirit and courage to move on are essential, and the most commendable and rare is companionship. We have found several families growing up with each other, sharing their most precious parental status, hoping to bring the meaning of effective companionship to everybody.</p>
            </section>
        </article>
        <div class="img-group">
            <a class="block block1" href="./page7.html">
                <h4>VOL.1</h4>
                <p>KJ Vakidis & Nicole Zhange</p>
                <img src="../image/page10/mp1.png">
            </a>
            <a class="block block2" href="./page7.html">
                <h4>VOL.2</h4>
                <P>Luca Ciambra & Eidier</P>
                <img src="../image/page10/mp2.png">
            </a>
            <a class="block block3" href="./page7.html">
                <h4>VOL.3</h4>
                <p>Jun & Shuang Tang</p>
                <img src="../image/page10/mp3.png">
            </a>
            <a class="block block4" href="./page7.html">
                <h4>VOL.4</h4>
                <p>Kevin Li & Juan Li</p>
                <img src="../image/page10/mp4.png">
            </a>
        </div>
    </article>
    <footer class="footer"></footer>
</div>
</body>
</html>