<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="page1" class="bg1">
      <header class="header">
          <img class="logo" src="../image/logo.png">
      </header>
      <div class="hide">
          <img src="../image/page1/bg1.jpg">
          <img src="../image/page1/bg2.jpg">
          <img src="../image/page1/bg3.jpg">
          <img src="../image/page1/bg4.jpg">
      </div>
      <footer class="footer"></footer>    
    </div>
</body>
</html>
