<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="page2">
    <header>
        <div class="campaigns">
            <a href="#">CAMPAIGNS</a>
            <div class="child">-18FW</div>
            <div class="child active">-18SS</div>
        </div>
        <div class="collections">
            <a href="#">COLLECTIONS</a>
            <div class="child">-18FW</div>
            <div class="child">&nbsp;LOOKS</div>
            <div class="child">&nbsp;SHOW</div>
            <div class="child">-18SS</div>
            <div class="child">&nbsp;LOOKS</div>
            <div class="child">&nbsp;SHOW</div>
        </div>
        <div class="projects">
            <a href="#">PROJECTS</a>
            <div class="child">-18SS</div>
            <div class="child">KIDS SHOW</div>
            <div class="child">移动照相馆</div>
        </div>
        <div class="about"><a href="#">ABOUT</a></div>
        <div class="contact"><a href="">CONTACT</a></div>
    </header>
    <div class="right-icon">
        <img src="../image/page1/logo.png">
    </div>
</div>
</body>
</html>
