<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="page9">
    <header class="header">
        <a href="./index.html">
            <img class="logo" src="../image/logo-black.png">
        </a>
    </header>
    <article class="article">
        <nav class="location">
            <a href="./index.html">MAIN</a> > CONTACT_联系我们
        </nav>
        <article class="container">
            <img src="../image/page9/1.png">
            <ul>
                <li>
                    <img src="../image/page9/cinema.png">
                    <span>
              <a href="https://www.instagram.com/pommedeterre__/">INSTAGRAM</a>
            </span>
                </li>
                <li>
                    <img src="../image/page9/sina.png">
                    <span>
                  <a href="https://weibo.com/pommedeterre2016?refer_flag=1005055014_">WEIBO</a>
              </span>
                </li>
                <li class="erweima">
                    <img src="../image/page9/wechat.png">
                    <span>
                WECHAT
              </span>
                    <div class="wechat-area">
                        <img src="../image/page9/erweima.png">
                    </div>
                </li>
                <li>
                    <img src="../image/page9/location.png">
                    <span>
                <a href="http://www.jnbygroup.com/address.do?p=3">STORES</a>
              </span>
                </li>
            </ul>
        </article>
    </article>
    <footer class="footer"></footer>
</div>
</body>
</html>