<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="page2">
    <header class="header">
        <a href="./index.html">
            <img class="logo" src="../image/logo-black.png">
        </a>
    </header>
    <article class="article">
        <nav class="location">
            <a href="./index.html">MAIN</a> > COLLECTION_秀
        </nav>
        <section class="section-1">
            <div class="img-group-left img1">
                <div class="view-window">
                </div>
            </div>
            <div class="img-group-right img3">
                <div class="view-window">
                </div>
            </div>
            <div class="btn-controller">
                <div class="btn-left"><img src="../image/page2/arrow.png"></div>
                <div class="btn-right"><img src="../image/page2/arrow.png"></div>
            </div>
        </section>
        <section class="section-2">
            <a href="https://www.miaopai.com/show/mzzLLHWnwjGFUiDvSsPsl37QnWq7VK2J5amcFQ__.htm" target="_blank">
                <img src="../image/page2/ms.png">
            </a>
        </section>
    </article>
    <div class="hide">
        <img src="../image/page2/m1.png">
        <img src="../image/page2/m2.png">
        <img src="../image/page2/m3.png">
        <img src="../image/page2/m4.png">
    </div>
    <footer class="footer"></footer>
</div>
</body>
</html>