<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="page8">
    <header class="header">
        <a href="./page1.html">
          <img class="logo" src="../image/logo-black.png">
        </a>
    </header>
    <article class="article">
      <nav class="location">
        MAIN > PROJECTS_专题 > IT'S DIFFERENT BUT FUNNY - 不一样才好玩
      </nav>
      <div class="container">
        <div class="container-floor1">
          <div class="floor1-left">
            <div><img src="../image/page8/text.png"></div>
            <img src="../image/page8/icon.png">
          </div>
          <div class="floor1-right">
            <p class="ch">
                2017AW我们寻觅了几位来自不同国家的青少年，因着他们各自不同的成长环境，呈现出他们不同的性格特点，不同的兴趣爱好，不同的生活方式。
            </p>
            <p class="en">
                Generation Z：it refers to the people who born between the mid-1990s and 2000s. They are also known as the Net Generation or the Internet Generation, which is a generation that has been influenced by technology products such as the Internet, instant messaging, SMS, MP3, smart-phone and IPAD.
            </p>
          </div>
        </div>
        <div class="container-floor2">
          <div class="img-group">
            <h3>VOL.1 JIAQI XI</h3>
            <img src="../image/page8/1.png">
          </div>
          <div class="img-group">
            <h3>VOL.2 EAERAN</h3>
            <img src="../image/page8/2.png">
          </div>
          
        </div>
      </div>
    </article>
    <footer class="footer"></footer>  
  </div>
</body>
</html>