<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="page3">
    <header class="header">
        <a href="./index.html"">
            <img class="logo" src="../image/logo-black.png">
        </a>
    </header>
    <article class="article">
        <nav class="location">
            <a href="./index.html" style="color: #000">MAIN</a> > CAMPAIGN_形象片
        </nav>
        <section class="section-1">
            <div class="section-1-left">
                <div class="img-group-1">
                    <h2>EVERYONE'S BIZARRE</h2>
                    <img class="img1" src="../image/page3/1.png">
                    <p>Maybe you are like square pegs in round holes at school, or maybe you are the shortest, the
                        fattest, or the weirdest in the school.</p>
                </div>
                <div class="img-group-2">
                    <img class="img4" src="../image/page3/4.png">
                </div>
            </div>
            <div class="section-1-right">
                <div class="section-1-right-top">
                    <img class="img2" src="../image/page3/2.png">
                    <div class="img-group">
                        <img class="img3" src="../image/page3/3.png">
                        <p>spring/summer</p>
                        <p>2018</p>
                    </div>
                </div>
                <div class="section-1-right-bottom">
                    <div class="img-group">
                        <p>The point is what you do when you're alone. Maybe you are assembling the computers, or
                            practicing cello, or playing rock. Actually, the things that you are really doing make you
                            get more and more interesting. Someday, when other people notice you, they will find you are
                            cooler than they have imagined before. </p>
                        <img class="img5" src="../image/page3/5.png">
                    </div>
                </div>
            </div>
        </section>
        <section class="section-2">
            <div class="section-2-left">
                <a href="https://www.miaopai.com/show/h0ZS24Wt~aR9GqpPmdosZkUGXq7Bfsmp4067qw__.htm" target="_blank">
                    <img src="../image/page3/6.png" class="img6">
                </a>
                <div class="img-group">
                    <h2>So WHAT? IT DOES NOT MATTER.</h2>
                    <img src="../image/page3/8.png" class="img8">
                </div>
            </div>
            <div class="section-2-right">
                <div class="img-group">
                    <img src="../image/page3/7.png" class="img7">
                    <img src="../image/page3/9.png" class="img9">
                </div>
            </div>
        </section>
    </article>
    <footer class="footer"></footer>
</div>
</body>
</html>