<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="page9">
    <header class="header">
      <img src="../image/logo-black.png" class="logo">
    </header>
    <article class="article">
      <nav class="location">
        MAIN > CONTACT_联系我们
      </nav>
      <article class="container">
        <img src="../image/page9/1.png">
        <ul>
          <li>
            <img src="../image/page9/cinema.png">
            <span>
              INSTAGRAM
            </span>
          </li>
          <li>
              <img src="../image/page9/sina.png">
              <span>
                WEIBO
              </span>
          </li>
          <li>
              <img src="../image/page9/wechat.png">
              <span>
                WECHAT
              </span>
          </li>
          <li>
              <img src="../image/page9/location.png">
              <span>
                STORES
              </span>
          </li>
        </ul>
      </article>
    </article>
    <footer class="footer"></footer>  
  </div>
</body>
</html>