<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="page7">
    <header class="header">
        <a href="./index.html">
            <img class="logo" src="../image/logo-black.png">
        </a>
    </header>
    <article class="article">
        <nav class="location">
            MAIN > PROJECT_专题 > IS THAT YOU - 寻人启事 > VOL.3 - SASUKE
        </nav>
        <div class="container">
            <div class="container-left">
                <h4>VOL.3 - SASUKE</h4>
                <h5>Ehime, Japan</h5>
                <p>
                    宇宙中每颗闪烁的行星，自有其运行的轨道。星星在漫长的一生中，沿着这条线，浪漫又坚毅地行进，每晚固定地出现在我们头顶的夜空中。这很像我们每个人，其实天生自有天赋。只不过有的人需要从小去摸索，在学习中寻找到属于自己的闪光点。有的人则幸运地在一开始就得到命运的宠爱，找到了属于自己的轨道。</p>
            </div>
            <div class="container-right">
                <img src="../image/page7/1.png">
                <img src="../image/page7/2.png">
                <img src="../image/page7/3.png">
                <img src="../image/page7/4.png">
                <img src="../image/page7/5.png">
                <img src="../image/page7/6.png">
                <img src="../image/page7/7.png">
                <img src="../image/page7/8.png">
            </div>
        </div>
    </article>
    <footer class="footer"></footer>
</div>
</body>
</html>