<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="page6">
    <header class="header">
        <a href="./page1.html">
          <img class="logo" src="../image/logo-black.png">
        </a>
    </header>
    <article class="article">
      <nav class="location">
        MAIN > PROJECT_专题 > IS THAT YOU - 寻人启事
      </nav>
      <article class="intro">
        <img src="../image/page6/ball.png">
        <section class="intro">
          <p class="ch">2017AW我们寻觅了几位来自不同国家的青少年，因着他们各自不同的成长环境，呈现出他们不同的性格特点，不同的兴趣爱好，不同的生活方式。</p>
          <p class="en">Generation Z：it refers to the people who born between the mid-1990s and 2000s. They are also known as the Net Generation or the Internet Generation, which is a generation that has been influenced by technology products such as the Internet, instant messaging, SMS, MP3, smart-phone and IPAD.</p>
        </section>
      </article>
      <div class="img-group">
        <div class="block block1">
          <h4>VOL.1<br/>Daniel</h4>
          <p>London, England</p>
          <img src="../image/page6/1.png">
        </div>
        <div class="block block2">
          <h4>VOL.2<br/>HECTOR</h4>
          <P>London, England</P>
          <img src="../image/page6/2.png">
        </div>
        <div class="block block3">
          <h4>VOL.3<br/>Sasuke</h4>
          <p>Ehime, Japan</p>
          <img src="../image/page6/3.png">
        </div>
        <div class="block block4">
          <h4>VOL.4<br/>Mackenzie</h4>
          <p>Temecula, USA</p>
          <img src="../image/page6/4.png">
        </div>
        <div class="block block5">
          <h4>VOL.5<br/>Drake</h4>
          <p>Los Angeles, USA</p>
          <img src="../image/page6/5.png">
        </div>
        <div class="block block6">
          <h4>VOL.6<br/>Nathan</h4>
          <p>London, England</p>
          <img src="../image/page6/6.png">
        </div>
      </div>
    </article>
    <ul class="fixToWidth768">
      <li class="ff">
        <a href="./page7.html">
          <span class="ff-en">IS THAT YOU</span>
          <div class="ff-ch">寻人启事</div>
        </a>
      </li>
      <li class="ff">
        <span class="ff-en">PARENT - CHILD CLUB</span>
        <div class="ff-ch">亲子俱乐部</div>
      </li>
      <li class="ff jumpToPage8">
        <a href="./page8.html">
          <span class="ff-en">IT'S DIFFERENT BUT FUNNY</span>
          <div class="ff-ch">不一样才好玩</div>
        </a>
      </li>
    </ul>
    <footer class="footer"></footer>  
  </div>
</body>
</html>