<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="page2">
    <header class="header">
      <a href="#">
        <img class="logo" src="../image/logo-black.png">
      </a>
    </header>
    <article class="article">
      <nav class="location">
        MAIN > COLLECTION_秀
      </nav>
      <section class="section-1">
        <div class="img-group-left">
          <div class="view-window">
            <img src="../image/page2/m1.png">
            <img src="../image/page2/m2.png">
            <img src="../image/page2/m1.png">
          </div>
        </div>
        <div class="img-group-right">
          <div class="v">
            <div class="view-window">
              <img src="../image/page2/m3.png">
              <img src="../image/page2/m4.png">
              <img src="../image/page2/m3.png">
            </div>
          </div>
        </div>
      </section>
      <section class="section-2">
        <img src="../image/page2/ms.png">
      </section>
    </article>
    <footer class="footer"></footer>  
  </div>
</body>
</html>