<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="page4">
    <header class="header">
        <a href="./page1.html">
          <img class="logo" src="../image/logo-black.png">
        </a>
    </header>
    <article class="article">
        <nav class="location">
          MAIN > LOOKBOOK_产品图册 > SS18
        </nav>
       <div class="img-group">
         <img src="../image/page4/1.png">
         <div class="t-shirt">T恤_ AI1612000725</div>
         <div class="pant">裤子_AI1312990474</div>
       </div>
       <div class="img-group">
        <img src="../image/page4/2.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/3.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div><div class="img-group">
        <img src="../image/page4/4.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/5.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/6.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/7.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/8.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/9.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/10.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/11.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/12.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/13.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/14.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/15.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/16.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/17.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/18.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/19.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
      <div class="img-group">
        <img src="../image/page4/20.png">
        <div class="t-shirt">T恤_ AI1612000725</div>
        <div class="pant">裤子_AI1312990474</div>
      </div>
    </article>
    <footer class="footer"></footer>  
  </div>
</body>
</html>