<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="page12">
    <header class="header">
        <a href="./index.html">
            <img class="logo" src="../image/logo-black.png">
        </a>
    </header>
    <article class="article">
        <nav class="location">
            <a href="./index.html">MAIN</a> > PROJECT_专题
        </nav>
        <article class="intro">
            <div class="outter">
                <div class="sowing-map">
                    <div class="img">
                        <img src="../image/page12/mp1.png">
                        <div class="intro">
                            <h1>“IS THAT YOU”</h1>
                            <h2>寻人启事</h2>
                        </div>
                        <img class="icon" src="../image/page12/ball.png">
                    </div>
                    <div class="img hidden">
                        <img src="../image/page12/mp2.png">
                        <div class="intro">
                            <h1>“IT'S DIFFERENT BUT FUNNY”</h1>
                            <h2>不一样才好玩</h2>
                        </div>
                        <img class="icon icon2" src="../image/page12/font.png">
                    </div>
                    <div class="img hidden">
                        <img src="../image/page12/mp3.png">
                        <div class="intro">
                            <h1>“PARENT - CHILD CLUB”</h1>
                            <h2>亲子俱乐部</h2>
                        </div>
                        <img class="icon icon3" src="../image/page12/hand.png">
                    </div>
                </div>
                <div class="dots-wrapper">
                    <span data-index="0" class="dot active"></span>
                    <span data-index="1" class="dot"></span>
                    <span data-index="2" class="dot"></span>
                </div>
            </div>
        </article>

    </article>
    <footer class="footer"></footer>
</div>
</body>
</html>