a,a:hover,a:link,a:active,a:visited,a:focus
	text-decoration none
	color #fff
.nav
	ul
		display flex
		li
			flex 0 0 150px
			text-align center
.footer
	position fixed
	bottom 0
	left 0
	right 0
		.f
			display flex
			color #fff

