html {
  font-family: PingFang SC, PingFangSC-Semibold, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, Hiragino Sans GB, Source Han Sans CN, Source Han Sans SC, Microsoft YaHei, SimHei, sans-serif;
  font-size: 100px;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
header {
  padding: .7rem 0 0 .96rem;
  font-size: 0;
  div {
    display: inline-block;
    vertical-align: top;
    margin-right: .68rem;
    font-size: .23rem;
    position: relative;
    a {
      color: #fff;
      font-family: avian-bold;
    }
    .child {
      display: block;
      margin: 0;
      margin-top: 8px;
      font-family: avian-bold;
      color: #fff;
      width: 100%;


    }
    &.campaigns {
      .child {
        display: none;
      }
      &:hover {
        .child {
          display: block;
          &:hover {
            a {
              color: #ebc134;
            }
          }
        }
      }
    }
    &.collections {
      .child {
        display: none;
      }
      &:hover {
        .child {
          display: block;
          &:hover {
            a {
              color: #ebc134;
            }
          }
        }
      }
    }
    &.projects {
      width: 1.42rem;
      .child {
        display: none;
      }
      &:hover {
        .child {
          display: block;
          &:hover {
            a {
              color: #ebc134;
            }
          }
        }
      }
    }
  }
}

